.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


form {
  display: flex;
  flex-direction: column;
  margin: 0 20vw;
  
}

.del-btn {
  color:black;
  background-color: red;
  width: auto;
  margin-left: auto;

}
.dropdown {
  background-color: lightblue;  
  width: 95%;
}
label {
  margin-right: 2vw;
  font-size: large;

}
button {
  background-color: blue;
  color: white;
  width: 35%;
  align-self: center;
}